Do certain geographic regions see a higher concentration of Unicorns joining during specific periods?

In [3]:
# Import Dependenciews
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd
from pathlib import Path

In [4]:
# Load and read CSV file
csvPath = Path("Project-1-CSVs/merged_df.csv")
mergedDF = pd.read_csv(csvPath, encoding="UTF-8")

# Drop original CSV indexing
mergedDF = mergedDF.drop(columns=['Unnamed: 0'],)

# Display
mergedDF.head(10)

,Company,2022_Valuation,2023_Valuation,2024_Valuation,Date Joined,Country,City,Industry,Select Investors
0,ByteDance,$140,$225,225.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,$137,150.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,$66,66.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,$50,65.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,$40,25.4,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
5,Checkout.com,$40,$11,11.0,5/2/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST..."
6,Instacart,$39,$12,NaN,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By..."
7,Databricks,$38,$31,43.0,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates..."
8,Revolut,$33,$33,33.0,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital"
9,Epic Games,$31.50,$31.50,22.5,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures"

In [5]:
# Reformat date Joined
mergedDF['Date Joined'] = pd.to_datetime(mergedDF['Date Joined'], format = '%m/%d/%Y')

# Create a sorted DataFrame
sortedMergedDF = pd.DataFrame(mergedDF)

# Sort companies from earliest join date to most recent join date
sortedMergedDF = sortedMergedDF.sort_values(by="Date Joined", ascending = True)

# Display top 10 (earliest joined)
sortedMergedDF.head(10)

,Company,2022_Valuation,2023_Valuation,2024_Valuation,Date Joined,Country,City,Industry,Select Investors
725,Veepee,$1.38,$1.38,1.38,2007-07-02,France,La Plaine Saint-Denis,E-commerce & direct-to-consumer,"Summit Partners, Qatar Holding"
125,Vice Media,$5.70,NaN,NaN,2011-04-02,United States,Brooklyn,Internet software & services,"Technology Crossover Ventures, A&E Television ..."
105,Klarna,$6.70,$6.70,6.70,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
447,Trendy Group International,$2,$2,2.00,2012-02-13,Hong Kong,Kowloon,Consumer & retail,L Capital Partners
11,Fanatics,$27,$31,31.00,2012-06-06,United States,Jacksonville,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H..."
1,SpaceX,$127,$137,150.00,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
448,Avant,$2,$2,2.00,2012-12-17,United States,Chicago,Artificial intelligence,"RRE Ventures, Tiger Global, August Capital"
615,Mu Sigma,$1.50,$1.50,1.50,2013-02-07,United States,Northbrook,Data management & analytics,"Sequoia Capital, General Atlantic"
93,Automattic,$7.50,$7.50,7.50,2013-05-27,United States,San Francisco,Internet software & services,"Insight Venture Partners, Lowercase Capital, P..."
930,Lookout,$1,$1,1.00,2013-10-10,United States,San Francisco,Cybersecurity,"Accel Partners, Greylock Partners, Lowercase C..."